body{
	background-image: url(1n78cL8fz4.png);
	background-repeat: no-repeat;  
	background-size: cover;
	background-size: 100%;
}

aside {
   	position: absolute;
   	top: 10%;
	color:white;
	width: 30%;
}

a {
	color:black;
}


h2 {
	text-align:center;
	color:red;

}

.ya {
	position: relative;
	bottom:19px;
	left:20px;
}

img {
	position: relative;
	left:100px;
}


li {
	position: relative;
	bottom:20px;
	font-size:20px;

}

.one_link {
  position: relative;
	right:100px;
}


.second_link {
color:white;
text-decoration: none;
}

.rectangle_header {
	position: relative;
	top:16px;
	right: 6px;
    width:30%; /*ширина */
padding:25px; /*внутренние отступы*/
background:rgba(3,0,0,0.4); /*фоновый цвет*/
color:black; /*цвет шрифта*/
text-align:center; /*выравнивание текста по центру*/
line-height:1.2; /*высота строки текста*/
margin:20px auto;  /*выравнивание блока по центру и отступы сверху и снизу*/
font-size:30px;
box-shadow: 0 0 5px black;

}

.text_header {
position: relative;	
font-size: 40px;
color:white; 
font-family: Baltster, sans-serif;

}

.rectangle_header:hover { /* событийный селектор */
	border:3px solid #f4daf5;
}

.second_link:hover {
color:#cd59f7;

}

.rectangle_main {
position: relative;
top:14px;
width:60%; /*ширина */
height:100%;
padding:10px; /*внутренние отступы*/
background-color: rgba(3, 0, 0, 0.5); 
color:white; /*цвет шрифта*/
line-height:1.2; /*высота строки текста*/
margin:20px auto;  /*выравнивание блока по центру и отступы сверху и снизу*/
font-size:30px;
box-shadow: 0 0 5px black;
}

.text { 
	position: relative;
	left:17%;
	bottom:45px;
  	width: 70%;
    font-size:28px;
	color:white;
	padding-top: 15%;
	padding-bottom: 10%;

   }
 

   .arrow {
	position: relative;
	width: 50%;
	left:43%;
	bottom:100px;
	animation: arrowDown 1s infinite;
}

@keyframes arrowDown { 

0% { bottom:100px
	;
}

50% {

}

100% {
	bottom:120px
}
}
main {
position: absolute;
	 background: white;
	width:62%; /*ширина */
	left:19%;
 	float: left;
 	border-right-style:inset; /*Боковая линия рамки блока*/
 	border-left-style:outset;
 
}

.all_posts {
	 position: relative;
	 left:25px;
	 float: left;
     font-size: 25px;
     margin-top: 60px;
     margin-bottom: 60px;
     width: 350px; /*Фиксируем ширину блока*/
     margin-right: 10px;
        margin: 10px 15px
 
 }

 .text_all_posts {
	text-align:center;
	font-size: 22px;
	padding: 50px;

}

